{{partial "header.html" .}}
<div id="content">
    <div id="archdev-navbar">            
    </div>

    <div id="content-left-wrapper">
        <div id="content-left">
            <div id="news">
            <h3>
                <a href="/" title="Browse the blogs">Latest Posts</a>
                <span class="arrow"></span>
            </h3>
            <a href="/index.xml" title="Arch News RSS Feed" class="rss-icon"><img width="16" height="16" src="/rss.png" alt="RSS Feed" /></a>
                {{ range (where .Data.Pages.ByPublishDate "Section" "posts") }}
                <h4><a href="{{.Permalink}}" title="{{.Title}}"> {{.Title}}</a></h4>
                <p class="timestamp">{{.Date.Format "2006-01-02"}}<p>
                <div class="article-content">
                    {{.Content}}
                </div>
                {{end}}
            </div>
        </div>
    </div>

    <div id="content-right">
        <div id="nav-sidebar" class="widget">
            <h4>Conf Information</h4>
            <ul>
                {{ range .Site.Menus.sidebar}}
                <li><a href="{{ .URL }}" title="{{ .Title  }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div> 
        <div id="arch-sponsors" class="widget">
            <h4>Sponsors</h4>
            {{ range .Site.Menus.sponsor}}
            <a href="{{.URL}}" title="{{.Title}}">
              <img src="images/sponsors/{{.Name}}.png" title="" alt="{{.Title}} logo" width="300px" >
            </a>
            {{ end }}
        </div>
    </div>
</div>

{{partial "footer.html" .}}
