    <div id="footer">
        <p>Copyright © 2002-2017 Yolodevteam.</p>

        <p>The Arch Linux name and logo are recognized
        <a href="https://wiki.archlinux.org/index.php/DeveloperWiki:TrademarkPolicy"
            title="Arch Linux Trademark Policy">trademarks</a>. Some rights reserved.</p>

        <p>The registered trademark Linux® is used pursuant to a sublicense from LMI,
        the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.</p>
    </div>
</div>
</body>
</html>
