<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <title>Arch Linux</title>
    <link rel="stylesheet" type="text/css" href="/css/arch.css" media="screen, projection" />
</head>
<body class="">
    <div id="archnavbar" class="anb-home">
        <div id="archnavbarlogo"><h1><a href="/" title="Ta mæ hjæmmat!">Arch Linux</a></h1></div>
        <div id="archnavbarmenu">
            <ul id="archnavbarlist">
                {{ range .Site.Menus.main }}
                    <li class="anb-{{ .Name }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
