<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Arch Linux</title>
    <link rel="stylesheet" type="text/css" href="./css/arch.css" media="screen, projection" />
		<link rel="icon" type="image/x-icon" href="./favicon.ico">
</head>
<body class="">
    <div id="archnavbar" class="anb-home">
        <div id="archnavbarlogo"><h1><a href="./" title="Take me home">Arch Linux</a></h1></div>
        <div id="archnavbarmenu">
            <ul id="archnavbarlist">
                {{ range .Site.Menus.main }}
                <li class="anb-{{ .Name }}"><a href="{{ .URL }}" title="{{ .Title  }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
<div id="content">
    <div id="archdev-navbar">
    </div>
    <div id="content-left-wrapper">
        <div id="content-left">
